

.about {

	#banner {

	// .wrapper {
	// 	top: 55%;
	// 	-webkit-transform: translateY(-50%);
	// 	-ms-transform: translateY(-50%);
	// 	transform: translateY(-50%);
	// }

	 p.ire, h2.ire {
	 	color: $gold;
	 }
	 h2.ire, h2.eng {
		text-transform: none !important;
	 }

	.wrapper.moreBtn {
		top: inherit;
		-webkit-transform: inherit;
		-ms-transform: inherit;
		transform: inherit;
	}

	}

}

#vision {
	padding-top: 60px;
	@include media($phone) {
		padding-top: 100px; 
	}
	h2 {
		font-family: 'Alegreya', serif;
		text-transform: none !important;
		font-weight: normal;
		font-size: 24px;
	}

	.eng {
		color: $navy;
	}
	.ire {
		color: $gold;
	}

	.title {
		// border-bottom: solid 1px #c9c2af;
		display: block;
		padding-bottom: 30px;
	}

	article {
		@include fill-parent();
		border-top: solid 1px #c9c2af;
		clear: both;
		padding-top: 30px;
		margin-bottom: 60px;
		overflow: hidden;

		&:last-of-type {
			padding-bottom: 60px;
			a {
				// border-bottom: solid 1px $gold;
			}
		}

		div.intro {
			padding-top: 0px;
		}
		p {
			font-size: 17px;
			line-height: 24px;
			margin-bottom: 12px;
		}
		h2 {
			font-size: 21px;
			line-height: 26px;
		}
	}

	a.toggleText {
		color: #ccc;
		clear: both;
		@include shift(4 of 12);
		// @include span-columns(8 of 12);
		font-weight: normal;
		letter-spacing: 1px;
		margin-top: 30px;
		// padding-top: 30px;
		padding-bottom: 5px;
		display: inline-block;
		border-bottom: solid 1px transparent;
		cursor: pointer;
		@include transition(all 0.2s ease-in-out);


		

		&:hover {
			color: $gold;
			border-bottom: solid 1px $gold; 
			padding-bottom: 5px;
	
			@include transition(border 0.2s ease-in-out);
		}

	}

	.moreText {

		display: none;

		padding-top: 0px;

		float: right;
		width: 65.9%;
		@include media($phone) {
			width: 100%;
			div {
				padding-top: 0px;
				width: 100%;
				margin-right: 3.357652%;
				display: block;
				float: left;
			}
			div.ire {
				margin-right: 0px;
				padding-right: 0px;
			}
		}



		&.open {
			display: block
		}

	}


}

a {
	cursor: pointer;
}