.about {

	#banner {

	.wrapper {
		top: 55%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	 p.ire, h2.ire {
	 	color: $gold;
	 }
	 h2.ire, h2.eng {
		text-transform: none !important;
	 }

	.wrapper.moreBtn {
		top: inherit;
		-webkit-transform: inherit;
		-ms-transform: inherit;
		transform: inherit;
	}

	}

}

section#vision {
	padding-top: 60px;

	h2 {
		font-family: 'Alegreya', serif;
		text-transform: none !important;
		font-weight: normal;
		font-size: 24px;
	}

	.eng {
		color: $navy;
	}
	.ire {
		color: $gold;
	}

	.title {
		border-bottom: solid 1px #c9c2af;
		display: block;
		padding-bottom: 30px;
	}

	article {
		div {
			padding-top: 30px;
		}
		p {
			font-size: 17px;
			line-height: 24px;
		}
		h2 {
			font-size: 21px;
			line-height: 26px;
		}
	}

}