//COLORS + UTILITIES
$state: rgba(99, 180, 40, 1);
$historical: rgba(20, 130, 95, 1);
$language: rgba(15, 129, 173, 1);
$youth: rgba(207, 86, 140, 1);
$cultural: rgba(122, 43, 136, 1);
$community: rgba(230, 38, 58, 1);
$global: rgba(242, 127, 10, 1);
$gold: #9f8a5f;
$navy: #0b2936;

::-moz-selection {
	background: white;
	color: $navy;
}

::selection {
	background: white;
	color: $navy;
}


body {
	overflow-y: scroll;
	transition: all ease .3s;
}

.noscroll {
	overflow-y: hidden;
	margin-left: -100px;
}




.logo {
	transition: all ease .3s;
}

.home header .logo {
	display: block;
	margin-top: -10px;
	opacity: 0;
}

.home header .logo.on {
	margin-top: 0;
	opacity: 1;
}

@media (max-width: 641px) {

    h1.logo, .home header .logo {
      display: block;
      opacity: 1;
     width: 85px;
  }

 }

footer {
	background: white;
	
	.home & {
		background: lighten($gold, 20%);
	}

}


header {
	height: inherit;
	perspective: 1100px;
	position: absolute !important;
	&.on {
		top: 0px;
		position: fixed !important;
		margin-top: -110px;
		.home & {
			margin-top: 0;
		}
	}
			div.secondary {
		background: $navy;
		h2 {
			letter-spacing: 1px;
		}
		.eng {
			color: white;
		}
		.ire {
			color: $gold;
		}
	}

	@media (max-width: 769px) {
		height: 80px;
		h1 {
			margin-top: 6px !important;
		}
	}

}


.state, .historical, .language, .youth, .cultural, .community, .global {
	
	#banner {
		height: inherit;
		padding: 375px 0 200px;

		h2 {
			text-transform: inherit;
			letter-spacing: 0;
		}
		.wrapper p {
			font-size: 23px;
			line-height: 27px; 
		}
	}
	
	#events {
		background: rgba(255,255,255,.8);
		padding-top:  70px;

		.events-title {
			padding-left: 15px;
			margin-bottom: 50px;
			
			h2 {
				font: bold 28px/32px 'karla', Arial, sans-serif;
				display: inline;
				width: inherit;
				letter-spacing: -1px;
				text-transform: inherit;
			}
			.eng {
				color: $navy;
			}
		}
	}
}


// EVENT RELATED CODE STARTS
#wrap {

	width: 1108px;
	margin: 0 auto;
	overflow: auto;
	padding-bottom: 100px;


}

.event {
	float: left;
	width: 256px;
	background: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.1);
	height: 400px;
	margin: 10px;
	padding: 22px 20px;
	overflow: hidden;
	-webkit-font-smoothing: antialised;
	transition: all ease .3s;
	border-radius: 2px;


	h3 {
	font:20px/22px 'Alegreya', serif;
	color: $navy; 
	letter-spacing: -1px;
	padding-bottom: 20px;
	padding-right: 0px;

		span {
			display: inline-block;
			padding-top: 2px;
		}
	}
	p {
		// margin-bottom: 15px;
		font-size: 16px;
  		line-height: 21px;
  		margin-bottom: 0.625em;
	}


		span.img {
			display: block;
  			height: 380px;
  			overflow: hidden;
  			margin-bottom: 20px;
		}

	img {
		mix-blend-mode: multiply;
		width: 100%;
	}

  &:hover {
	//background: lighten(red, 48%);
	cursor: pointer;
	.irish {
		// color: white !important;
	}
  }

}


#events {
.double {
  width: 534px;
  // height: 440px;
	p {  font-size: 17px;
  line-height: 26px; text-indent: none;}
}

}

.image {
  height: 819px;

}

.full {
  width: 98%;
  height: inherit;
  padding-bottom: 40px;
}


#single { 
	color: black;
	background: white;
	position: fixed;
	overflow-x: auto;
	overflow-y: scroll;
	bottom: 0;
	width: 40%;
	right: 0;
	top: 0;
	z-index: 9999;
	opacity: 1;
	transition: all ease .3s;
	opacity: 0;
	pointer-events: none;
	box-shadow: 0px 0px 20px rgba(0,0,0,.4);
	left: 100%;
	h3 {
		font: 700 24px/28px karla, Arial, sans-serif;
		// font: 700 24px/28px 'Alegreya', Times, serif;
		color: #333; 
		letter-spacing: -1px;
		margin: 20px 0 60px 0;
		padding-left: 40px;
		padding-right: 70px;
		span {
			display: inline-block;
			width: 100%;
		}
	}
	
	p {
		padding: 0 0 20px 40px;
		font: 17px/24px 'Alegreya', Times, serif;
	}

	p.irish {
		text-indent: 40px;
	}

	&.active {
		opacity: 1;
		pointer-events: auto;
		left: 60%;
	}

	.info {
		float: left;
		width: 100%;
		min-height: 100%;
		padding: 40px 70px 40px 50px;
		position: absolute;
		transition: all .2s ease .3s;
	}
}

.hidden {
	opacity: 0;
}

#ghost {
	position: fixed;
	z-index: 8888;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: all ease .3s;
	background: rgba(255,255,255,.7);
	opacity: 0;
	pointer-events: none;
	&.active {
		opacity: 1;
		pointer-events: visible;
	}
	&:hover {
		cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAIVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABt0UjBAAAACnRSTlMAIDBAUGBwj5/v4hFWaAAAAFpJREFUeNqV0EESABEQQ1GMHi33P/CU6eKzlI3Us5CSrpIrvVmcr2TTXCpxqaVG9agYGtZ+QIc5FroMxUgZ+JxWu8TT7HMGYczc7Rhaw07NnS3GN7RtRkk3+QBxjAQv32l+rQAAAABJRU5ErkJggg==), auto; 
	}
}

.close {
	display: block;
	position: fixed;
	right: 40px;
	top: 40px;
	width: 20px;
	height: 20px;
	font-size: 1.3em;
	text-decoration: none;
	z-index: 9999;
	color: $navy;
	&:after {
		content: "×";
	}
	&:hover {
		cursor: pointer;
	}
}

// EVENT RELATED CODE ENDS




$icons: -12px -19px, -114px -22px, -218px -20px, -320px -20px, -424px -20px, -527px -20px, -631px -20px; 
$classList: state, historical, language, youth, cultural, community, global;
$brands: $state, $historical, $language, $youth, $cultural, $community, $global;

@for $i from 1 through length($classList) {

	body.#{nth($classList, $i)} {

		$color:  #{nth($brands, $i)};		
		background: $color;

		#banner {
			// background: $color url('../img/#{nth($classList, $i)}-old.jpg') center 80% no-repeat;
			// background: $color url('../img/#{nth($classList, $i)}.jpg') center 80% no-repeat;
			// background-blend-mode: multiply;
		}

		.ire {
			color: $color;
		}
		
		.event {
			color: $navy;
		}

	}
	
	// .secondary nav li.#{nth($classList, $i)} a {
	// 	// background-position: #{nth($icons, $i)}
	// }

}


// Andy css goes here 

.about {

	#banner {
		// background: blue;
		height: 80vh;

		.wrapper {
			top: 350px;
		}

		section {

		}

	}
}


.event {
	position: relative;
}

.grad:before {
	content: "Read More";
	position: absolute;
	bottom: 28px;
	left: 20px;
	letter-spacing: 1px;
	font-family: karla, sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	color: #ccc;
}

.grad {
	display: block;
	height: 150px;
	background: yellow;
	position: absolute;
	width: 100%;
	left: 0px;
	z-index: 100;
	bottom: 0;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(44%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

header  {
	z-index: 110;
}

body .main .ire {
  color: #958864;
}