.state, .historical, .language, .youth, .cultural, .community, .global, .reminders {
  #banner {
    height: inherit;
    padding: 320px 0 50px 0;
    @include media($tablet) {
      padding: 80px 0 50px 0 !important;
    }
    h2 {
      text-transform: inherit;
      letter-spacing: 0;
    }
    .wrapper p {
      font-size: 23px;
      line-height: 27px;
    }
  }
  #events {
    background: rgba(255, 255, 255, 0.8);
    .events-title {
      padding-left: 15px;
      margin-bottom: 50px;
      h2 {
        font: bold 28px/32px 'karla', Arial, sans-serif;
        display: inline;
        width: inherit;
        letter-spacing: -1px;
        text-transform: inherit;
      }
      .eng {
        color: $navy;
      }
    }
  }
}

.reminders {
  #banner {
    padding: 280px 0 50px 0;
  }
}

#banner .wrapper {
  @include vertical-align(50%);
  color: white;

  @include media($tablet) {
    padding:120px 0 30px 0;
    -webkit-transform: inherit !important;
    -ms-transform: inherit !important;
    transform: inherit !important;
    color: white;

    a.more {
      display: none;
    }
  }
  @include media($phone) {
    padding: 0;
  }

  p {
    font-size: em(20);
    line-height: 26px;
    margin-bottom: em(20);
  }

  h2 {
    font-size: 26px;
    font-family: 'Alegreya', serif;
    font-weight: normal;
    .ire & {
      margin-bottom: em(10);
    }
  }

  .ire {
    color: $navy;
  }

  .home &, .about & {
    @include vertical-align(50%);
    @media (max-width: 1281px) {
      @include vertical-align(50%);
    }
    @media (max-width: 769px) {
      height: inherit;
      min-height: auto;
      padding-top: 0px;
    }
    .logo {
      @include span-columns(4);
      background-image: url(.././img/logo-big.png);
      background: url(.././img/logo-big.svg) no-repeat;
      text-indent: -9999px;
      height: em(130);
      margin-top: -1px;
      @media (max-width: 1281px) {
        height: em(120);
      }
    }
    .col-8 {
      float: left;
      @include omega;
      &:last-of-type {
        @include omega;
        float: right;
        margin-bottom: em(60);
        @media (max-width: 1281px) {
          margin-bottom: em(40);
        }
      }
    }
    p {
      font-size: em(23);
      line-height: em(20);
      padding-right: em(50);
      @media (max-width: 1281px) {
        font-size: em(23);
        padding-right: em(80);
      }
      @media (max-width: 1281px) {
        padding-right: em(0);
      }
    }
    color: lighten($gold, 3%);
    .ire {
      color: white;
    }
  }
}


#banner {
  @include media($tablet) {
    height: inherit;
    min-height: inherit;
    padding-top: 0px;
    position: relative;
    padding: 0px;
    .wrapper {
      padding:120px 0 30px 0;
      -webkit-transform: inherit !important;
      -ms-transform: inherit !important;
      transform: inherit !important;
      color: white;

      a.more {
        display: none;
      }
    }
  }
}

.home, .about {
  #banner {
    padding: 350px 0 0 0;
    background: #09727a;
    background: -moz-linear-gradient(-45deg, #09727a 0%, #085159 37%, #063342 89%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #09727a), color-stop(37%, #085159), color-stop(89%, #063342));
    background: -webkit-linear-gradient(-45deg, #09727a 0%, #085159 37%, #063342 89%);
    background: -o-linear-gradient(-45deg, #09727a 0%, #085159 37%, #063342 89%);
    background: -ms-linear-gradient(-45deg, #09727a 0%, #085159 37%, #063342 89%);
    background: linear-gradient(135deg, adjust-color($historical, $saturation: 20%, $lightness: -10%) 0%, $navy 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09727a', endColorstr='#063342',GradientType=1 );
    @include media($tablet) {
      padding: 120px 0 0 0 !important;
    }
    .wrapper {
      .col-8.pull-right {
        float: right !important;
      }
    }
  }
}

.about {
  #banner .wrapper p {
    padding-right: 0;
  }
}

// .home {
//   #banner {
//     background-image: url('.././img/home.jpg'), linear-gradient(135deg, adjust-color($historical, $saturation: 20%, $lightness: -10%) -20%, lighten($navy, 5%) 100%);
//     background-blend-mode: multiply;
//   }
// }

// .fallback {
//   #banner {
//     background-image: url('.././img/home-fallback.jpg') !important;
//   }
// }