h1 {
  display: block;
  text-indent: -9999px;
  width: 130px;
  // background-image: url(.././img/logo-small.jpg);
  background: url(.././img/logo-small.svg);
  background-repeat: no-repeat;
}

.secondary nav li {
  a {
    background: url(.././img/icon-sprite.svg);
    background-position-y: -16px;
    background-size: 680px 65px;
    height: 36px;
    width: 36px;
    text-indent: -9999px;
    overlflow: hidden;
    display: inline-block;
    background-repeat: no-repeat;
  }
  &.state a {
    background: url(.././img/icon-sprite.svg) no-repeat;
    background-position: top -15px right -631px;
    background-size: 680px 65px;
  }
  &.historical a {
    background-position: -114px -20px;
  }
  &.language a {
    background-position: -218px -15px;
  }
  &.youth a {
    background-position: -320px -15px;
  }
  &.cultural a {
    background-position: -424px -15px;
  }
  &.community a {
    background-position: -527px -15px;
  }
  &.global a {
    background-position: -631px -15px;
  }
}

ul.social {
  display: inline-block;
  li {
    display: inline-block;
  }
  li a {
    background-size: 67px;
    background-position: 1px 4px;
    display: inline-block;
    background: url(.././img/social-sprite.svg) no-repeat;
    height: 36px;
    width: 36px;
    text-indent: -9999px;
    border: solid 2px $gold;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    border-radius: 36px;
    background-size: 60px;
    background-position: 2px 3px;
  }
  .facebook a {
    background-position: -32px 3px;
    background-size: 57px;
    margin-left: 5px;
  }
  .home & {
    margin-top: 36px;
  }
}

svg#harp {
  height: 65px;
  .state & {
    fill: $state;
  }
  .historical & {
    fill: $historical;
  }
  .language & {
    fill: $language;
  }
  .youth & {
    fill: $youth;
  }
  .cultural & {
    fill: $cultural;
  }
  .community & {
    fill: $community;
  }
  .global & {
    fill: $community;
  }
  .home &, .about & {
    fill: darken($gold, 10%);
  }
}