@charset "UTF-8";
::-moz-selection {
  background: white;
  color: #0b2936; }

::selection {
  background: white;
  color: #0b2936; }

body {
  overflow-y: scroll;
  transition: all ease .3s; }

.noscroll {
  overflow-y: hidden;
  margin-left: -100px; }

.wrapper {
  max-width: 1160px; }

.logo {
  transition: all ease .3s; }

.home header .logo {
  display: block;
  margin-top: -10px;
  opacity: 0; }

.home header .logo.on {
  margin-top: 0;
  opacity: 1; }

footer:not(.home) {
  background: white; }

@media (min-width: 769px) {
  .home #banner .wrapper .logo, header nav.main {
    display: block !important; } }
header {
  height: inherit;
  perspective: 1100px;
  position: absolute !important; }
  header.on {
    top: 0px;
    position: fixed !important;
    margin-top: -110px; }
    .home header.on {
      margin-top: 0; }
  header nav.main ul li {
    width: inherit;
    min-width: inherit;
    padding-right: 6%; }
  header nav.main a {
    -webkit-font-smoothing: subpixel-antialiased;
    letter-spacing: 0.25px;
    font: 19px/22px 'Alegreya', Times, serif; }
  header nav.main .eng {
    color: #0b2936; }
  header nav.main .ire {
    color: #9f8a5f; }
  header div.secondary {
    background: #0b2936; }
    header div.secondary h2 {
      letter-spacing: 1px; }
    header div.secondary .eng {
      color: white; }
    header div.secondary .ire {
      color: #9f8a5f; }

.state #banner, .historical #banner, .language #banner, .youth #banner, .cultural #banner, .community #banner, .global #banner {
  height: inherit;
  padding: 375px 0 200px; }
  .state #banner h2, .historical #banner h2, .language #banner h2, .youth #banner h2, .cultural #banner h2, .community #banner h2, .global #banner h2 {
    text-transform: inherit;
    letter-spacing: 0; }
  .state #banner .wrapper p, .historical #banner .wrapper p, .language #banner .wrapper p, .youth #banner .wrapper p, .cultural #banner .wrapper p, .community #banner .wrapper p, .global #banner .wrapper p {
    font-size: 23px;
    line-height: 27px; }
.state #events, .historical #events, .language #events, .youth #events, .cultural #events, .community #events, .global #events {
  background: rgba(255, 255, 255, 0.8);
  padding-top: 70px; }
  .state #events .events-title, .historical #events .events-title, .language #events .events-title, .youth #events .events-title, .cultural #events .events-title, .community #events .events-title, .global #events .events-title {
    padding-left: 15px;
    margin-bottom: 50px; }
    .state #events .events-title h2, .historical #events .events-title h2, .language #events .events-title h2, .youth #events .events-title h2, .cultural #events .events-title h2, .community #events .events-title h2, .global #events .events-title h2 {
      font: bold 28px/32px 'karla', Arial, sans-serif;
      display: inline;
      width: inherit;
      letter-spacing: -1px;
      text-transform: inherit; }
    .state #events .events-title .eng, .historical #events .events-title .eng, .language #events .events-title .eng, .youth #events .events-title .eng, .cultural #events .events-title .eng, .community #events .events-title .eng, .global #events .events-title .eng {
      color: #0b2936; }

#wrap {
  width: 1200px;
  margin: 0 auto;
  overflow: auto;
  padding-bottom: 100px; }

.event {
  float: left;
  width: 270px;
  background: white;
  box-shadow: 0px 0px 6px rgba(50, 50, 50, 0.1);
  height: 400px;
  margin: 15px;
  padding: 20px 25px;
  overflow: hidden;
  -webkit-font-smoothing: antialised;
  transition: all ease .3s;
  border-radius: 2px; }
  .event h3 {
    font: 700 22px/24px karla, Arial, sans-serif;
    color: #0b2936;
    letter-spacing: -1px;
    padding-bottom: 30px; }
    .event h3 span {
      display: inline-block; }
  .event p {
    margin-bottom: 15px; }
  .event img {
    mix-blend-mode: multiply; }
  .event:hover {
    cursor: pointer; }

.double {
  width: 570px;
  height: 400px; }

.image {
  height: 830px; }

.full {
  width: 98%;
  height: inherit;
  padding-bottom: 40px; }

#single {
  color: black;
  background: white;
  position: fixed;
  overflow-x: auto;
  overflow-y: scroll;
  bottom: 0;
  width: 40%;
  right: 0;
  top: 0;
  z-index: 9999;
  opacity: 1;
  transition: all ease .3s;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  left: 100%; }
  #single h3 {
    font: 700 24px/28px karla, Arial, sans-serif;
    color: #333;
    letter-spacing: -1px;
    margin: 20px 0 60px 0;
    padding-left: 40px;
    padding-right: 70px; }
    #single h3 span {
      display: inline-block;
      width: 100%; }
  #single p {
    padding: 0 0 20px 40px;
    font: 17px/24px 'Alegreya', Times, serif; }
  #single p.irish {
    text-indent: 40px; }
  #single.active {
    opacity: 1;
    pointer-events: auto;
    left: 60%; }
  #single .info {
    float: left;
    width: 100%;
    min-height: 100%;
    padding: 40px 70px 40px 50px;
    position: absolute;
    transition: all .2s ease .3s; }

.hidden {
  opacity: 0; }

#ghost {
  position: fixed;
  z-index: 8888;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all ease .3s;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0;
  pointer-events: none; }
  #ghost.active {
    opacity: 1;
    pointer-events: visible; }
  #ghost:hover {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAIVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABt0UjBAAAACnRSTlMAIDBAUGBwj5/v4hFWaAAAAFpJREFUeNqV0EESABEQQ1GMHi33P/CU6eKzlI3Us5CSrpIrvVmcr2TTXCpxqaVG9agYGtZ+QIc5FroMxUgZ+JxWu8TT7HMGYczc7Rhaw07NnS3GN7RtRkk3+QBxjAQv32l+rQAAAABJRU5ErkJggg==), auto; }

.close {
  display: block;
  position: fixed;
  right: 40px;
  top: 40px;
  width: 20px;
  height: 20px;
  font-size: 1.3em;
  text-decoration: none;
  z-index: 9999;
  color: #0b2936; }
  .close:after {
    content: "×"; }
  .close:hover {
    cursor: pointer; }

body.state {
  background: #63b428; }
  body.state #banner {
    background: #63b428 url("../img/state-old.jpg") center 80% no-repeat;
    background: #63b428 url("../img/state.jpg") center 80% no-repeat;
    background-blend-mode: multiply; }
  body.state .ire {
    color: #63b428; }
  body.state .event {
    color: #0b2936; }

.secondary nav li.state a {
  background-position: -12px -19px; }

body.historical {
  background: #14825f; }
  body.historical #banner {
    background: #14825f url("../img/historical-old.jpg") center 80% no-repeat;
    background: #14825f url("../img/historical.jpg") center 80% no-repeat;
    background-blend-mode: multiply; }
  body.historical .ire {
    color: #14825f; }
  body.historical .event {
    color: #0b2936; }

.secondary nav li.historical a {
  background-position: -114px -22px; }

body.language {
  background: #0f81ad; }
  body.language #banner {
    background: #0f81ad url("../img/language-old.jpg") center 80% no-repeat;
    background: #0f81ad url("../img/language.jpg") center 80% no-repeat;
    background-blend-mode: multiply; }
  body.language .ire {
    color: #0f81ad; }
  body.language .event {
    color: #0b2936; }

.secondary nav li.language a {
  background-position: -218px -20px; }

body.youth {
  background: #cf568c; }
  body.youth #banner {
    background: #cf568c url("../img/youth-old.jpg") center 80% no-repeat;
    background: #cf568c url("../img/youth.jpg") center 80% no-repeat;
    background-blend-mode: multiply; }
  body.youth .ire {
    color: #cf568c; }
  body.youth .event {
    color: #0b2936; }

.secondary nav li.youth a {
  background-position: -320px -20px; }

body.cultural {
  background: #7a2b88; }
  body.cultural #banner {
    background: #7a2b88 url("../img/cultural-old.jpg") center 80% no-repeat;
    background: #7a2b88 url("../img/cultural.jpg") center 80% no-repeat;
    background-blend-mode: multiply; }
  body.cultural .ire {
    color: #7a2b88; }
  body.cultural .event {
    color: #0b2936; }

.secondary nav li.cultural a {
  background-position: -424px -20px; }

body.community {
  background: #e6263a; }
  body.community #banner {
    background: #e6263a url("../img/community-old.jpg") center 80% no-repeat;
    background: #e6263a url("../img/community.jpg") center 80% no-repeat;
    background-blend-mode: multiply; }
  body.community .ire {
    color: #e6263a; }
  body.community .event {
    color: #0b2936; }

.secondary nav li.community a {
  background-position: -527px -20px; }

body.global {
  background: #f27f0a; }
  body.global #banner {
    background: #f27f0a url("../img/global-old.jpg") center 80% no-repeat;
    background: #f27f0a url("../img/global.jpg") center 80% no-repeat;
    background-blend-mode: multiply; }
  body.global .ire {
    color: #f27f0a; }
  body.global .event {
    color: #0b2936; }

.secondary nav li.global a {
  background-position: -631px -20px; }
