html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  font-family: 'Alegreya', serif;
  color: #0b2936;
  outline: none; }

.home header .logo {
  display: none; }
.home header .secondary {
  display: none; }

.wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .wrapper::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 1088px) {
    .wrapper {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto; }
      .wrapper::after {
        clear: both;
        content: "";
        display: table; } }

#banner {
  display: block; }

@media (min-width: 960px) {
  section {
    min-height: 600px; } }
#programme {
  padding: 3.75em 0;
  height: 65vh;
  color: #0b2936; }
  #programme .wrapper {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  #programme ul li a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    letter-spacing: -0.5px; }
    #programme ul li a span {
      padding-left: 45px; }
  #programme ul {
    float: left;
    display: block;
    margin-right: 3.5786636068%;
    width: 48.2106681966%; }
    #programme ul:last-child {
      margin-right: 0; }
  #programme ul li {
    margin-bottom: 1.875em; }
  #programme aside {
    padding-right: 30px; }
    #programme aside h2 {
      text-transform: uppercase; }
    #programme aside h2.ire {
      padding-bottom: 40px; }
    #programme aside p {
      padding-bottom: 20px;
      line-height: 24px; }
  #programme .strands {
    margin-top: -20px; }
    #programme .strands a:after {
      content: "Read More \203A\203A";
      display: block;
      font: 15px karla;
      height: 15px;
      padding-top: 6px;
      text-indent: 3.125em;
      opacity: 0;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      -webkit-transform: translateX(-15px);
      -moz-transform: translateX(-15px);
      -ms-transform: translateX(-15px);
      -o-transform: translateX(-15px);
      transform: translateX(-15px); }
    #programme .strands a:hover:after {
      opacity: 1;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
      transform: translateX(0px); }

#programme ul li a {
  font: 1.75em "Alegreya", serif normal;
  text-transform: inherit;
  line-height: 32px; }
#programme ul li.state a {
  color: #63b428; }
#programme ul li.historical a {
  color: #14825f; }
#programme ul li.language a {
  color: #0f81ad; }
#programme ul li.youth a {
  color: #cf568c; }
#programme ul li.cultural a {
  color: #7a2b88; }
#programme ul li.community a {
  color: #e6263a; }
#programme ul li.global a {
  color: #f27f0a; }
#programme ul li a:before {
  content: "";
  display: inline-block;
  background: url(../img/icon-sprite.svg);
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-size: 680px;
  margin-left: -36px;
  background-position-x: -12px;
  background-position-y: -19px;
  position: relative;
  top: 10px;
  left: 30px; }
#programme ul li.historical a:before {
  background-position-x: -114px;
  background-position-y: -22px; }
#programme ul li.language a:before {
  background-position-x: -218px; }
#programme ul li.youth a:before {
  background-position-x: -320px; }
#programme ul li.cultural a:before {
  background-position-x: -424px; }
#programme ul li.community a:before {
  background-position-x: -527px; }
#programme ul li.global a:before {
  background-position-x: -631px; }

#signatories {
  padding: 6.25em 0;
  background: #958864; }

#banner .wrapper {
  position: relative;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white; }
  #banner .wrapper a.more {
    display: inline-block;
    padding-bottom: 5px; }
  #banner .wrapper p {
    font-size: 1.25em;
    line-height: 26px;
    margin-bottom: 1.25em; }
  #banner .wrapper h2 {
    font-size: 26px;
    font-family: 'Alegreya', serif;
    font-weight: normal; }
    .ire #banner .wrapper h2 {
      margin-bottom: 0.625em; }
  #banner .wrapper .ire {
    color: #0b2936; }
  #banner .wrapper .more {
    margin-left: 51.7893318034%; }
  .home #banner .wrapper {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #958864; }
    @media (max-width: 1281px) {
      .home #banner .wrapper {
        position: relative;
        top: 55%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); } }
    @media (max-width: 769px) {
      .home #banner .wrapper {
        height: inherit;
        min-height: auto;
        padding-top: 0px; } }
    .home #banner .wrapper .logo {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%;
      background: yellow;
      background-image: url(../img/logo-big.jpg);
      background: url(../img/logo-big.svg) no-repeat;
      text-indent: -9999px;
      height: 8.125em;
      margin-top: -1px; }
      .home #banner .wrapper .logo:last-child {
        margin-right: 0; }
      @media (max-width: 1281px) {
        .home #banner .wrapper .logo {
          height: 7.5em; } }
      @media (max-width: 769px) {
        .home #banner .wrapper .logo {
          height: 6.25em; } }
    .home #banner .wrapper .col-8 {
      float: left;
      margin-right: 0; }
      .home #banner .wrapper .col-8:last-of-type {
        margin-right: 0;
        float: right;
        margin-bottom: 3.75em; }
        @media (max-width: 1281px) {
          .home #banner .wrapper .col-8:last-of-type {
            margin-bottom: 2.5em; } }
    .home #banner .wrapper p {
      font-size: 1.5625em;
      line-height: 1.25em;
      padding-right: 2.5em; }
      @media (max-width: 1281px) {
        .home #banner .wrapper p {
          font-size: 1.4375em;
          padding-right: 5em; } }
      @media (max-width: 1281px) {
        .home #banner .wrapper p {
          padding-right: 0em; } }
    .home #banner .wrapper .ire {
      color: white; }
  #banner .wrapper .read-more {
    padding-top: 30px; }
  #banner .wrapper a.more {
    padding-top: 30px;
    margin-left: 34.1192171993%; }
    @media (max-width: 769px) {
      #banner .wrapper a.more {
        padding-top: 0px; } }

@media (max-width: 769px) {
  #programme {
    height: inherit;
    /* overflow: hidden; */
    /* float: left; */
    position: relative;
    background: white; }

  #programme .wrapper {
    opacity: 1;
    position: relavtive;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
    #programme .wrapper .col-8, #programme .wrapper .col-4 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      #programme .wrapper .col-8:last-child, #programme .wrapper .col-4:last-child {
        margin-right: 0; }
    #programme .wrapper .mobile-pull-left {
      width: 50%;
      float: left;
      padding-bottom: 40px; }
      #programme .wrapper .mobile-pull-left p {
        padding-left: 20px; } }
@media (max-width: 769px) {
  .read-more {
    padding-top: 5%;
    clear: both;
    height: 200px; } }
header {
  position: fixed;
  background: white;
  width: 100%;
  z-index: 100;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.2);
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.2);
  padding-top: 0.625em; }
  header h1 {
    height: 4.6875em;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 14.7019570017%;
    float: left; }
    header h1:last-child {
      margin-right: 0; }
  header nav.main {
    height: 6.25em;
    padding: 1.375em 0em 1.125em 0em; }
  header div.secondary {
    height: 4.875em;
    padding: 1.25em 0em;
    background: #0b2936;
    text-transform: uppercase; }
    header div.secondary nav ul li {
      display: inline-block;
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 9.3686693441%;
      text-align: center; }
      header div.secondary nav ul li:last-child {
        margin-right: 0; }
    header div.secondary nav {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 65.8807828007%;
      float: right; }
      header div.secondary nav:last-child {
        margin-right: 0; }
      header div.secondary nav ul {
        background: yellow; }
  header .main {
    margin-right: 0px !important;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%;
    float: right; }
    header .main:last-child {
      margin-right: 0; }
    header .main ul li {
      display: inline-block;
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 22.3160022949%;
      margin-right: 20px; }
      header .main ul li:last-child {
        margin-right: 0; }
      header .main ul li:first-child {
        margin-right: 5px; }

footer {
  height: 14.375em;
  position: relative; }
  footer nav {
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0px; }
  footer .wrapper {
    positon: absolute; }
  footer .harp {
    position: relative;
    top: 70px;
    width: 65px;
    margin: 0 auto;
    text-align: center; }
  footer ul {
    width: 100%;
    text-align: center; }
  footer li {
    display: inline;
    font: 11px karla;
    padding: 5px;
    text-align: center; }
  .home footer {
    background: #c9c2af; }
    .home footer a {
      color: #675e45; }

@media (max-width: 769px) {
  header {
    height: 75px; } }

.home #banner {
  height: calc(85vh);
  min-height: 100%; }
.state #banner, .historical #banner, .language #banner, .youth #banner, .cultural #banner, .community #banner, .global #banner {
  height: calc(100vh - 180px);
  min-height: 100%; }
.state #banner {
  background: #63b428; }
.historical #banner {
  background: #14825f; }
.language #banner {
  background: #0f81ad; }
.youth #banner {
  background: #cf568c; }
.cultural #banner {
  background: #7a2b88; }
.community #banner {
  background: #e6263a; }
.global #banner {
  background: #f27f0a; }
.home #banner, .about #banner {
  background: #09727a;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDk3MjdhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMzclIiBzdG9wLWNvbG9yPSIjMDg1MTU5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iODklIiBzdG9wLWNvbG9yPSIjMDYzMzQyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(-45deg, #09727a 0%, #085159 37%, #063342 89%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #09727a), color-stop(37%, #085159), color-stop(89%, #063342));
  background: -webkit-linear-gradient(-45deg, #09727a 0%, #085159 37%, #063342 89%);
  background: -o-linear-gradient(-45deg, #09727a 0%, #085159 37%, #063342 89%);
  background: -ms-linear-gradient(-45deg, #09727a 0%, #085159 37%, #063342 89%);
  background: linear-gradient(135deg, #09727a 0%, #085159 37%, #063342 89%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09727a', endColorstr='#063342',GradientType=1 ); }

svg#harp {
  height: 65px; }
  .state svg#harp {
    fill: #63b428; }
  .historical svg#harp {
    fill: #14825f; }
  .language svg#harp {
    fill: #0f81ad; }
  .youth svg#harp {
    fill: #cf568c; }
  .cultural svg#harp {
    fill: #7a2b88; }
  .community svg#harp {
    fill: #e6263a; }
  .global svg#harp {
    fill: #e6263a; }
  .home svg#harp {
    fill: #766c50; }

.state footer a, .state #events .eng, .state #events a.more, .state #programme ul li a {
  color: #63b428; }
.historical footer a, .historical #events .eng, .historical #events a.more, .historical #programme ul li a {
  color: #14825f; }
.language footer a, .language #events .eng, .language #events a.more, .language #programme ul li a {
  color: #0f81ad; }
.youth footer a, .youth #events .eng, .youth #events a.more, .youth #programme ul li a {
  color: #cf568c; }
.cultural footer a, .cultural #events .eng, .cultural #events a.more, .cultural #programme ul li a {
  color: #7a2b88; }
.community footer a, .community #events .eng, .community #events a.more, .community #programme ul li a {
  color: #e6263a; }
.global footer a, .global #events .eng, .global #events a.more, .global #programme ul li a {
  color: #f27f0a; }

.home footer li {
  color: #766c50; }

.col-12 {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  .col-12:last-child {
    margin-right: 0; }

.col-6, .signatory {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%; }
  .col-6:last-child, .signatory:last-child {
    margin-right: 0; }
  .col-6:nth-child(2n), .signatory:nth-child(2n) {
    margin-right: 0; }
  .col-6:nth-child(2n+1), .signatory:nth-child(2n+1) {
    clear: left; }
  @media screen and (max-width: 768px) {
    .col-6, .signatory {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 48.2106681966%; }
      .col-6:last-child, .signatory:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 640px) {
    .col-6, .signatory {
      float: left;
      display: block;
      margin-right: 7.4229703521%;
      width: 100%; }
      .col-6:last-child, .signatory:last-child {
        margin-right: 0; } }

.col-4 {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%; }
  .col-4:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .col-4 {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 48.2106681966%; }
      .col-4:last-child {
        margin-right: 0; }
      .col-4:nth-child(2n) {
        margin-right: 0; }
      .col-4:nth-child(2n+1) {
        clear: left; } }
  @media screen and (max-width: 640px) {
    .col-4 {
      float: left;
      display: block;
      margin-right: 7.4229703521%;
      width: 100%; }
      .col-4:last-child {
        margin-right: 0; } }

.col-3 {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 23.2317613015%; }
  .col-3:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .col-3 {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 22.3160022949%; }
      .col-3:last-child {
        margin-right: 0; }
      .col-3:nth-child(2n) {
        margin-right: 0; }
      .col-3:nth-child(2n+1) {
        clear: left; } }
  @media screen and (max-width: 640px) {
    .col-3 {
      float: left;
      display: block;
      margin-right: 7.4229703521%;
      width: 46.288514824%; }
      .col-3:last-child {
        margin-right: 0; } }

.col-8 {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 65.8807828007%; }
  .col-8:last-child {
    margin-right: 0; }

h1, h2, h3, h4, #banner p, #banner a, .single-event p, p, #programme ul li a, button, input, nav a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h2 {
  font-family: "karla", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 700;
  line-height: 1.125em;
  letter-spacing: -0.5px; }
  .secondary h2 h2 {
    text-transform: uppercase; }
  .secondary h2.eng {
    color: #958864; }
  .secondary h2.ire {
    color: white; }

p, a {
  font-size: 1.125em;
  text-decoration: none; }

.main li {
  min-width: 145px;
  line-height: 21px;
  margin-top: -0px; }
  .main li:last-child {
    margin-right: 0; }

.main a {
  float: left;
  color: #958864; }
  .main a span.eng {
    display: inline;
    color: #0b2936; }
  .main a span.eng:after {
    content: "\a";
    white-space: pre; }

@media (max-width: 1281px) {
  .main a {
    font-size: 17px; } }
section a {
  font-family: karla;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  letter-spacing: 0.5px;
  border-bottom: 1px solid white; }
section h2 {
  text-transform: uppercase; }

.main a {
  border-bottom: solid 1px transparent;
  -webkit-transition: border 0.2s ease-in-out;
  -moz-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out; }

.main a:hover {
  border-bottom: solid 1px #958864;
  -webkit-transition: border 0.2s ease-in-out;
  -moz-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out; }

.col-12 .img {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%; }
  .col-12 .img:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .col-12 .img {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 100%; }
      .col-12 .img:last-child {
        margin-right: 0; } }
@media screen and (max-width: 768px) {
  .col-6 .img {
    float: left;
    display: block;
    margin-right: 7.4229703521%;
    width: 100%; }
    .col-6 .img:last-child {
      margin-right: 0; } }
.img img {
  width: 100%; }

.col-12 .content {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%; }
  .col-12 .content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .col-12 .content {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 100%; }
      .col-12 .content:last-child {
        margin-right: 0; } }

#events, #signatories {
  background: #c1eafa;
  padding-top: 6.25em; }
  #events .single-event, #signatories .single-event {
    background: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.1); }
  #events .events-title, #signatories .events-title {
    margin-bottom: 2.5em;
    font: 24px karla, helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: -0.0625em; }
  #events .wrapper, #signatories .wrapper {
    padding-bottom: 6.25em; }
  #events .col-6 .img, #events .col-3 .img, #signatories .col-6 .img, #signatories .col-3 .img {
    margin-bottom: 1.25em; }
  #events .single-event h2, #signatories .single-event h2 {
    font-family: 'Alegreya', serif;
    font-weight: normal;
    font-size: 1.3125em;
    margin-bottom: 0.125em; }
    #events .single-event h2:last-of-type, #signatories .single-event h2:last-of-type {
      margin-bottom: 1.25em; }
  #events p, #signatories p {
    font-size: 1em;
    line-height: 1.3125em;
    margin-bottom: 0.625em; }
    #events p:last-oftype, #signatories p:last-oftype {
      margin-bottom: 0em; }

.single-event {
  padding: 1em;
  margin-bottom: 1.5em; }

.flush-img {
  padding: 0px 0px 1.25em 0px; }
  .flush-img .img {
    position: relative;
    width: 100%; }
    .flush-img .img img {
      width: 100%; }
  .flush-img .content {
    padding: 0.3125em 1.25em 0 1.25em; }
  .flush-img h3.name {
    position: absolute;
    padding: 0.9375em;
    font-size: 1.75em !important;
    color: white;
    bottom: 0px;
    margin-bottom: 0em !important; }

#signatories aside {
  padding-top: 1.875em; }
  #signatories aside p.eng, #signatories aside h2.eng {
    color: #0b2936; }
  #signatories aside h2.ire {
    margin-bottom: 1.875em; }
  #signatories aside p.ire, #signatories aside h2.ire {
    color: white; }
  #signatories aside p {
    font-size: 22px;
    padding-right: 40px; }
    @media (max-width: 769px) {
      #signatories aside p {
        font-size: 18px; } }
#signatories .content p.ire {
  color: #958864; }

#about {
  height: 70vh;
  min-height: 500px; }
  #about .wrapper {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  #about h3, #about h4 {
    font-size: 1.3125em;
    line-height: 26px; }
    #about h3.ire, #about h4.ire {
      margin-bottom: 1.875em; }
  @media (max-width: 769px) {
    #about h4 {
      font-size: 17px;
      line-height: 21px; } }
  #about .about p {
    float: left;
    display: block;
    margin-right: 4.8291579146%;
    width: 47.5854210427%;
    padding-right: 0.625em;
    font-size: 16px;
    float: left;
    line-height: 20px; }
    #about .about p:last-child {
      margin-right: 0; }
    @media (max-width: 769px) {
      #about .about p {
        float: left;
        display: block;
        margin-right: 4.8291579146%;
        width: 100%;
        margin-bottom: 24px; }
        #about .about p:last-child {
          margin-right: 0; } }
    #about .about p.ire {
      margin-right: 0; }
  #about .signup {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%;
    margin-top: -40px;
    min-height: 350px;
    border-left: solid 1px #958864;
    margin-left: 30px;
    padding: 2.5em 0 1.875em 8%; }
    #about .signup:last-child {
      margin-right: 0; }
    #about .signup h4 {
      width: 90%; }
    #about .signup h4.eng {
      width: 80%; }
    @media (max-width: 769px) {
      #about .signup {
        margin-left: 0px; } }
  #about input {
    display: block;
    margin: 1.25em 0;
    width: 300px;
    padding: 10px 10px 16px 0px;
    border: 0px;
    outline: none;
    border-bottom: solid 1px #958864;
    color: #0b2936;
    font: 700 15px karla, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px; }
    @media (max-width: 769px) {
      #about input {
        width: 214px;
        font-size: 14px; } }
  #about button {
    padding: 16px 30px;
    border: none;
    background: #958864;
    color: white;
    font: 700 15px karla, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 10px; }

.pull-left {
  float: left; }

@media (min-width: 768px) {
  .pull-right {
    float: right;
    margin-right: 0px; } }
.navy {
  color: #0b2936; }

.gold {
  color: #958864; }

h1 {
  display: block;
  text-indent: -9999px;
  width: 130px;
  background: url(../img/logo-small.svg);
  background-repeat: no-repeat;
  margin-top: 0.1875em; }

.secondary nav li a {
  background: url(../img/icon-sprite.svg);
  background-position-y: -20px;
  background-size: 680px;
  height: 36px;
  width: 36px;
  text-indent: -9999px;
  overlflow: hidden;
  display: inline-block;
  background-repeat: no-repeat; }
.secondary nav li.state a {
  background: url(../img/icon-sprite.svg) no-repeat;
  background-position-x: -12px;
  background-position-y: -19px;
  background-size: 680px; }
.secondary nav li.historical a {
  background-position-x: -114px;
  background-position-y: -22px; }
.secondary nav li.language a {
  background-position-x: -218px; }
.secondary nav li.youth a {
  background-position-x: -320px; }
.secondary nav li.cultural a {
  background-position-x: -424px; }
.secondary nav li.community a {
  background-position-x: -527px; }
.secondary nav li.global a {
  background-position-x: -631px; }

ul.social {
  display: inline-block; }
  ul.social li {
    display: inline-block; }
  ul.social li a {
    background-size: 67px;
    background-position: 1px 4px;
    display: inline-block;
    background: url(../img/social-sprite.svg) no-repeat;
    height: 36px;
    width: 36px;
    text-indent: -9999px;
    border: solid 2px #958864;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    border-radius: 36px;
    background-size: 60px;
    background-position: 2px 3px; }
  ul.social .facebook a {
    background-position: -32px 3px;
    background-size: 57px;
    margin-left: 5px; }
  .home ul.social {
    margin-top: 36px; }

header div.secondary nav ul li {
  width: 10.8%; }

header div.secondary nav {
  width: 67.880783%; }

@media (max-width: 1060px) {
  header .main ul li {
    min-width: inherit;
    width: auto;
    margin-right: 5%; }
    header .main ul li:first-child {
      margin-right: 4%; }
    header .main ul li:last-child {
      margin-right: 0px; } }
@media (max-width: 830px) {
  header .main ul li {
    margin-right: 2%; }
    header .main ul li a {
      font-size: 16px;
      line-height: 18px; }
    header .main ul li:first-child {
      margin-right: 2%; }
    header .main ul li:last-child {
      margin-right: 0px; } }
@media (max-width: 1088px) {
  #programme ul li {
    margin-bottom: 1.25em; }
    #programme ul li a {
      font-size: 25px;
      line-height: 26px; } }
@media (max-width: 1050px) {
  #programme ul li a {
    font-size: 23px; } }
@media (max-width: 960px) {
  .strand-menu-title {
    display: none; }

  header div.secondary nav {
    width: 100%; }

  #programme ul li {
    margin-bottom: 1.25em; }
    #programme ul li a {
      font-size: 22px;
      line-height: 25px; }
  #programme aside p {
    font-size: 16px;
    line-height: 21px; } }
@media (min-width: 768px) {
  .hide-desktop {
    display: none; } }
@media (max-width: 769px) {
  body {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    -moz-transition: -moz-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out; }
    body.open {
      -webkit-transform: translateX(-280px);
      -ms-transform: translateX(-280px);
      transform: translateX(-280px);
      -webkit-transition: -webkit-transform 0.6s ease-in-out;
      -moz-transition: -moz-transform 0.6s ease-in-out;
      transition: transform 0.6s ease-in-out; }

  header nav.main {
    display: block;
    -webkit-transform: translateX(300px);
    -ms-transform: translateX(300px);
    transform: translateX(300px);
    -webkit-transition: -webkit-transform 0.9s ease-in-out;
    -moz-transition: -moz-transform 0.9s ease-in-out;
    transition: transform 0.9s ease-in-out; }
    header nav.main.open {
      -webkit-transform: translateX(280px);
      -ms-transform: translateX(280px);
      -webkit-transition: -webkit-transform 0.9s ease-in-out;
      -moz-transition: -moz-transform 0.9s ease-in-out;
      transition: transform 0.9s ease-in-out;
      -webkit-box-shadow: -4px 0px 5px 0px rgba(7, 21, 31, 0.2);
      -moz-box-shadow: -4px 0px 5px 0px rgba(7, 21, 31, 0.2);
      box-shadow: -4px 0px 5px 0px rgba(7, 21, 31, 0.2); }

  .home header .logo {
    display: none;
    background-image: url(../img/logo-small-white.png) no-repeat;
    background: url(../img/logo-small-white.svg) no-repeat;
    height: 45px; }

  .menu {
    content: "";
    display: inline-block;
    background-image: url(../img/menu.png);
    background: url(../img/menu.svg) no-repeat;
    width: 40px;
    height: 36px;
    background-color: #081f29;
    padding: 0 10px;
    text-indent: -9999px;
    background-position-x: 2px;
    position: absolute;
    right: 6%;
    top: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; } }
@media (max-width: 769px) {
  #banner, .home #banner {
    top: 75px;
    height: inherit;
    min-height: inherit;
    padding-top: 0px;
    position: relative; }
    #banner .wrapper, .home #banner .wrapper {
      padding-top: 3.75em;
      position: inherit;
      -webkit-transform: inherit;
      -ms-transform: inherit;
      transform: inherit; }
      #banner .wrapper a.more, .home #banner .wrapper a.more {
        margin-left: 0%; }
    #banner .col-4, .home #banner .col-4 {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      #banner .col-4:last-child, .home #banner .col-4:last-child {
        margin-right: 0; }
    #banner h2.ire, .home #banner h2.ire {
      margin-bottom: 1.875em; }

  .home #banner .wrapper a.more {
    margin-left: 34.1192171993%;
    margin-bottom: 60px; }

  header {
    background: #09232e; }
    header .logo {
      display: block; }

  header nav.main {
    position: fixed;
    background: #0b2936;
    height: inherit;
    width: 300px;
    padding: 0;
    padding-top: 5px;
    min-height: 100%;
    height: 100vh;
    margin-left: -20px;
    right: 0px;
    top: 0px; }
    header nav.main ul li {
      display: inherit;
      float: inherit;
      width: 100%; }
      header nav.main ul li:last-child a {
        padding-bottom: 22px; }
      header nav.main ul li a {
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        padding: 16px 30px 17px 30px;
        width: 100%;
        border-bottom: solid 1px #071921; }
        header nav.main ul li a:hover {
          background: #071921;
          border-bottom: solid 1px #071921; }
        header nav.main ul li a:hover {
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }
        header nav.main ul li a .eng {
          color: white; }
    header nav.main .prog > a:after {
      content: "\0002B";
      display: block;
      color: #071921;
      border: solid 1px #071921;
      height: 26px;
      width: 26px;
      -webkit-border-radius: 24px;
      -moz-border-radius: 24px;
      border-radius: 24px;
      font-size: 26px;
      position: absolute;
      right: 30px;
      opacity: 1;
      text-align: center;
      vertical-align: middle;
      padding-top: 2px;
      margin-top: -31px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    header nav.main .prog > a:hover:after {
      color: #958864;
      border: solid 1px #958864; }
    header nav.main .prog.show > a:after {
      -webkit-transform: rotate(225deg);
      -moz-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
      -o-transform: rotate(225deg);
      transform: rotate(225deg);
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      color: #958864;
      border-color: #958864; }
    header nav.main .strands ul {
      height: auto;
      overflow: hidden;
      float: left;
      height: 0px;
      position: relative;
      -webkit-transition: height 0.6s ease-in-out;
      -moz-transition: height 0.6s ease-in-out;
      transition: height 0.6s ease-in-out; }
      header nav.main .strands ul.show {
        height: 411px;
        -webkit-transition: height 0.6s ease-in-out;
        -moz-transition: height 0.6s ease-in-out;
        transition: height 0.6s ease-in-out; }
    header nav.main .strands a {
      font: 14px karla, sans-serif;
      line-height: 8px;
      padding-left: 75px;
      background-color: #09232e; }
      header nav.main .strands a.eng {
        color: white; }
    header nav.main .strands a:before {
      content: "";
      display: inline-block;
      background: url(../img/icon-sprite.svg);
      width: 35px;
      height: 35px;
      background-repeat: no-repeat;
      background-size: 500px;
      margin-left: -42px;
      background-position-x: -12px;
      background-position-y: -16px;
      position: absolute; }

  .hide-desktop {
    display: block; } }
@media (max-width: 769px) {
  #programme ul:nth-child(2) {
    margin-left: -10px; }
  #programme ul li a {
    font-size: 26px;
    line-height: 28px; } }
#signatories {
  padding: 6.25em 0;
  background: #958864; }

@media (max-width: 641px) {
  h1.logo, .home header .logo {
    display: block;
    opacity: 1; }

  .home #banner .wrapper .logo {
    display: none; }
  .home #banner .wrapper .col-8 {
    width: 100%; }
    .home #banner .wrapper .col-8 p {
      font-size: 20px; }
  .home #banner .wrapper a.more {
    margin-left: 0px; }

  header nav.main.open {
    -webkit-transform: translateX(300px);
    -ms-transform: translateX(280px);
    -webkit-transition: -webkit-transform 0.9s ease-in-out;
    -moz-transition: -moz-transform 0.9s ease-in-out; }

  header nav.main .prog > a:after {
    right: 50px; }

  .mobile-pull-left, .col-4, #programme .wrapper .mobile-pull-left, #programme .wrapper .mobile-pull-left p, aside, #programme .wrapper .col-8, #programme .wrapper .col-4, .col-8.strands ul, .strands ul li, #programme ul, #signatories aside p, .home #about .col-6, #about .about p, #about .signup, #about .signup h4.eng {
    float: left;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px; }

  #about .signup {
    border-left: 0px;
    border-top: solid 1px #958864;
    margin-top: 20px; }

  .home #about {
    padding-top: 30px; }
    .home #about input, .home #about button {
      width: 100%;
      padding-right: 0px;
      margin-right: 0px; }
    .home #about ul.social {
      margin-top: 36px;
      width: 90px;
      left: -45px;
      position: relative;
      margin-left: 50%; }

  #about .signup h4 {
    font-size: 24px;
    line-height: 28px;
    padding: 0px; }

  #signatories aside p.ire {
    margin-bottom: 30px; }

  #programme aside h2.ire, .mobile-pull-left {
    margin-bottom: 0px;
    padding-bottom: 0px; }

  #programme .wrapper .mobile-pull-left p {
    font-size: 21px; }

  aside h2 {
    font-size: 18px; }

  #programme ul li, #programme ul:nth-child(2), #programme ul {
    margin: inherit;
    padding: inherit;
    float: left; }

  #about .wrapper {
    position: inherit;
    top: inherit;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    overflow: hidden; }

  .home #about {
    height: inherit;
    min-height: inherit;
    max-height: inherit; }

  #programme {
    padding-bottom: 0px;
    margin-bottom: 0px; }
    #programme aside {
      width: 90%; }

  #programme .wrapper .col-4 {
    padding: 0 5%;
    margin: 0 auto; }

  #programme ul:nth-child(1) li:first-child {
    border-top: solid 1px #eee;
    padding-top: 10px;
    margin-top: 20px; }

  #programme ul:nth-child(2) li:first-child {
    border-top: solid 0px #eee;
    padding-top: 10px;
    margin-top: 20px; }

  #programme ul:nth-child(2) li:last-child {
    border-bottom: 0px; }

  #programme ul {
    position: relative;
    margin-left: 0px; }

  #programme ul li {
    padding: 24px 0px 10px 10%;
    border-bottom: solid 1px #eee; }

  #programme .wrapper {
    width: 100% !important;
    margin: 0px;
    padding: 0px;
    max-width: 100%; }

  #signatories {
    padding: 30px 0; }

  #programme .strands a:after {
    content: ""; } }
.home #banner .wrapper .col-8.pull-right {
  float: right !important; }
